<%- include('../sharedViews/head',{pageTitle:'All Brands'}) %>



</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1 class="text-center">All Brands</h1>


    <div class="container">
        <div class="row g-3">
            <% for (const brand of brands){ %>


                <%- include('brand-item',{brand:brand}) %>

            <% } %>
        </div>
    </div>


</main>

<%- include('../sharedViews/footer') %>
