<%- include('../sharedViews/head',{pageTitle:'New Product'}) %>

<link href="/styles/products.css" rel="stylesheet"/>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1>All Products</h1>

    <div class="container">
        <div class="row g-3">
        <% for (const product of products){%>

                <%- include('product-item',{product:product})%>


        <%}%>
        </div>
    </div>

</main>

<%- include('../sharedViews/footer') %>
