<%- include('../sharedViews/head',{pageTitle:'New Product'}) %>

<link href="/styles/products.css" rel="stylesheet"/>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1>All Brands</h1>
    <ul id="products-grid">
        <% for (const brand of brands){%>
            <li>
                <%- include('brand-item',{brand:brand})%>
            </li>

        <%}%>
    </ul>

</main>

<%- include('../sharedViews/footer') %>
