<%- include('../sharedViews/head',{pageTitle:'All Brands'}) %>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1 class="text-center">All Materials</h1>


    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center ">
                    <img src="/products/assets/material/pu.png" class="card-img-top" alt="pu">
                    <h5 class="card-title">PU</h5>
                    <a href="/products/pu/brands" class="btn btn-primary">Shop</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center ">
                    <img src="/products/assets/material/carbonfibre.png" class="card-img-top" alt="pu">
                    <h5 class="card-title">CarbonFibre</h5>
                    <a href="/products/carbonfibre/brands" class="btn btn-primary">Shop</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center ">
                    <img src="/products/assets/material/fibreglass.png" class="card-img-top" alt="pu">
                    <h5 class="card-title">FibreGlass</h5>
                    <a href="/products/fibreglass/brands" class="btn btn-primary">Shop</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center ">
                    <img src="/products/assets/material/others.png" class="card-img-top" alt="pu">
                    <h5 class="card-title">Others</h5>
                    <a href="/products/others" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div>

    </div>


</main>

<%- include('../sharedViews/footer') %>
