<%- include('../sharedViews/head',{pageTitle:'New Product'}) %>

<!--<link href="/styles/products.css" rel="stylesheet"/>-->

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1>All Brands</h1>

    <div class="row">

        <% for (const brand of brands){ %>
            <div class="col-sm-6">

                <%- include('brand-item',{brand:brand}) %>

            </div>

        <% } %>
    </div>


</main>

<%- include('../sharedViews/footer') %>
