<%- include('../sharedViews/head',{pageTitle:'New Product'}) %>

<link href="/styles/products.css" rel="stylesheet"/>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1>All Categories</h1>
    <ul id="products-grid">
        <% for (const category of categories){%>
            <li>
                <%- include('category-item',{category:category})%>
            </li>

        <%}%>
    </ul>

</main>

<%- include('../sharedViews/footer') %>
