
<%-include('../sharedViews/head',{pageTitle:'Product Management'})%>
<link href="./styles/products.css" rel="stylesheet">
<script src="/scripts/category-deletion.js" defer></script>

</head>
<body>
<%- include('../sharedViews/header')%>
<main>
    <h1 class="text-center">Category Administration</h1>
    <section>

        <p style="padding-left:1rem">
            <a href="/category-management/new" class="btn btn-primary">Add Category</a>
        </p>
    </section>
    <section>

        <div class="container">
            <div class="row g-3">
            <% for (const category of categoryList){%>

                    <%-include('./category-item',{category:category})%>

            <% } %>
            </div>
        </div>
    </section>
</main>

<%- include('../sharedViews/footer')%>
