<%- include('../sharedViews/head',{pageTitle:'New Product'}) %>



</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <section class="form" style="width:60%;margin:0 auto">

        <form action="/category-management/new " method="post">
            <h1 class="text-center">Add New Product</h1>
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <p class="mb-3">
                <label for="brand" class="form-label">Brand</label>
                <input class="form-control" type="text" id="brand" name="brand" required>
            </p>

            <p class="mb-3">
                <label for="model" class="form-label">Model</label>
                <input class="form-control" type="text" id="model" name="model" required>
            </p>
            <p class="mb-3">
                <label for="generation" class="form-label">Generation</label>
                <input class="form-control" type="text" id="generation" name="generation" required>
            </p>

            <section class="buttons">
                <div style="display: flex; justify-content: space-around">
                    <button class="btn btn-primary" type="reset" >Reset</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </section>
        </form>

    </section>
</main>

<%- include('../sharedViews/footer') %>
