<%- include('../sharedViews/head', { pageTitle: 'All Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <%- include('order-list') %>
</main>
</body>