<%- include('../sharedViews/head',{pageTitle:'New Product'}) %>

<script src="/scripts/image-preview.js" defer></script>
<script src="/scripts/change-model-generation.js" defer></script>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <section class="form" style="width:60%;margin:0 auto">
        <h1 class="text-center">Add New Product</h1>
        <form action="/product-management/new?_csrf=<%= locals.csrfToken %>" method="post" enctype="multipart/form-data">
            <p class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" required>
            </p>

            <div class="mb-3" class="image-upload-control">
                <p>
                    <label class="form-label" for="image">Image</label>
                    <input class="form-control" type="file" id="image" name="multi-files" accept="image/*" multiple>
                </p>
                <div>
                    <% for(let i=0;i<5;i++){%>
                        <img class="image-preview" src="" display="none">
                    <%}%>
                </div>
            </div>
            <p class="mb-3">
                <label class="form-label" for="brand">Choose a brand:</label>
                <select class="form-select" id="brand" name="brand">
                    <option value="">Please select a brand</option>
                    <option value="honda">Honda</option>
                    <option value="mitsubishi">Mitsubishi</option>
                    <option value="subaru">Subaru</option>
                    <option value="toyota">toyota</option>
                    <option value="nissan">Nissan</option>
                    <option value="mazda">Mazda</option>
                    <option value="suzuki">Suzuki</option>
                </select>
            </p>
            <p class="mb-3">
                <label class="form-label" for="model">Choose a model:</label>
                <select class="form-select" id="model" name="model">

                </select>
            </p>
            <p class="mb-3">
                <label class="form-label" for="generation">Choose a generation:</label>
                <select class="form-select" id="generation" name="generation">

                </select>
            </p>
            <p class="mb-3">
                <label class="form-label" for="material">Material</label>
                <select class="form-select" id="material" name="material">
                    <option value="pu">PU</option>
                    <option value="fiberglass">Fiberglass</option>
                    <option value="carbonfibre">Carbonfibre</option>
                    <option value="others">Others</option>
                </select>
            </p>
            <p class="mb-3">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="number" id="price" name="price" min="0.01" step="0.01" required>
            </p>
            <p class="mb-3">
                <label class="form-label" for="stock">Stock</label>
                <input class="form-control" type="text" id="stock" name="stock" required>
            </p>
            <p class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="7" required></textarea>
            </p>
            <section class="buttons">
                <div style="display: flex; justify-content: space-around">
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </section>
        </form>

    </section>
</main>

<%- include('../sharedViews/footer') %>
