
<%-include('../sharedViews/head',{pageTitle:'Product Management'})%>

<script src="/scripts/product-deletion.js" defer></script>

</head>
<body>
<%- include('../sharedViews/header')%>
<main>
    <h1 class="text-center">Product Administration</h1>
    <section>
        <p style="padding-left: 1rem">
            <a href="/product-management/new" class="btn btn-primary">Add Product</a>
        </p>
    </section>
    <section>
        <div class="container">
            <div class="row g-3">
            <% for (const product of productList){%>

                <%-include('./product-item',{product:product})%>

            <% } %>
            </div>
        </div>
    </section>
</main>

<%- include('../sharedViews/footer')%>
