*{
    box-sizing:border-box;
    margin:0;
    border:0;
    padding:0;
}
body {
    max-width: 90%;
    margin: 1rem auto;
}
main{
     margin-top: 2rem;
     background-color: rgba(248,249,250,1);
}
main h1{
      padding-top: 2rem;
      margin-bottom: 2rem;
  }
nav{
    font-size: x-large;
}
.nav-link{
    margin:0.5rem 2rem;
}
nav .badge{
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
    margin-left: 0.5rem;
}

#logoimg{
    width:50vw;
    height: 10vh;
    object-fit: scale-down;
}



.card-imgs {
    max-width: 80vw;
    height:50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-imgs img{
    width:20rem;
    height:15rem;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
#news{
    padding:1rem;
    margin:1rem auto;
    background-color: rgba(248,249,250,1);
    border:1px solid rgb(202, 207, 212);
    border-radius: 3px;
}
.image-preview{
    width:10rem;
    height:5rem;
}
@media (min-width:48rem) {
    #logoimg{
        width:20rem;
        height: 4rem;
        object-fit: cover;
    }
}