.cart-item {
    height: 10rem;
    display: flex;
    flex-direction: column;


    background-color: dodgerblue;
    padding: 1rem;
    border-radius:2px;
    margin:1rem 0;
}
.cart-item h2 {
    font-size: 1rem;
    margin: 0;
}
.cart-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cart-item input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 1px;
    border:none;
}

.cart-product-price{
    font-style: italic;
    color: lightsteelblue;
}
#cart-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cart-total #cart-total-fallback {
    font-size: 1rem;
    font-weight: normal;
}

#cart-total p {
    font-size: 1.5rem;
    font-weight: bold;
    color: dodgerblue;
}
#cart-form {

    max-width: 100% !important;
    margin:0px auto !important;

}

@media (min-width: 48rem) {
    .cart-item{
        flex-direction: row;
        justify-content: space-between;
    }
    #cart-total{
        flex-direction: row;
        justify-content: space-between;
    }
    #cart-form {
        width: 30%;
    }
}