
<%-include('../sharedViews/head',{pageTitle:'Errors'})%>


</head>
<body>
<%- include('../sharedViews/header')%>
<h1>Oops! You are not authorized!</h1>
<p>Please log in first.</p>
<%- include('../sharedViews/footer')%>