
<%-include('../sharedViews/head',{pageTitle:'Errors'})%>


</head>
<body>
<%- include('../sharedViews/header')%>
<h1>Oops! Seems like there is an error</h1>
<p>The required resource is not found, please try again later</p>
<%- include('../sharedViews/footer')%>