
<%-include('../sharedViews/head',{pageTitle:'Speedfactory NZ'})%>


</head>
<body>
    <%- include('../sharedViews/header')%>
    <h2>This is the index ejs </h2>
    <%- include('../sharedViews/footer')%>
